*.gem
.bundle
.sass-cache
_site
Gemfile.lock
devlopr.gemspec
.idea/workspace.xml
.idea/eollugii.github.io.iml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
